<div class="row">
	{{#each project}}
    <div class="col-12 col-sm-12 col-md-4">
		<div class="card">
			<div class="overlay-container">
				<img src="{{img_1}}" class="imgOne card-img-top cardHeight">
					<div class="card-body description">
						<h4 class="card-title">{{title}}</h4>
						<p class="card-text">{{description}}</p>
					</div>
			</div>
			<div class="card-body profile-links d-flex justify-content-around"> {{!-- icon/link strip at bottom of card --}}
				<!-- deployed site if exists -->
				{{#if link}}
				<a href="{{link}}" class="fa fa-globe iconLink" target="_blank"></a>
				{{/if}}
				<!-- github link -->
				{{#if github_url}}
				<a href="{{github_url}}" class="fa fa-github iconLink" target="_blank"></a>
				{{/if}}
			</div>
		</div>
	</div>
	{{/each}}
</div>